---
import Image from "astro/components/Image.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
const pcs = await getCollection("pcs");
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="hero">
    <div class="hero-info">
      <h1 class="hero-text">
        The <span>Best PC Rental</span>
        <br /> Services in India
      </h1>
      <p class="hero-description">
        Rent the perfect PC for any occasion. <br /> India's premier PC rental service.
      </p>
      <button class="apply-btn"> Rent Now </button>
    </div>
    <div class="fade-l"></div>
    <div class="fade-b"></div>
  </div>
  <div class="about-section">
    <div class="about-img">
      <Image
        src="https://nzxt.com/assets/cms/34299/1659594250-boost-performance-primary.png?auto=format&fit=fillmax&h=1344&w=1344"
        width={1152}
        height={860}
        alt="About Us"
      />
    </div>
    <div class="about-content">
      <h1>PC rentals in India</h1>
      <p>
        Experience the convenience of renting a PC in India with our flexible
        and cost-effective solutions. Whether you're an individual or a
        business, our rental services provide you with the latest technology
        without the burden of ownership.
      </p>
      <button>Know More</button>
    </div>
  </div>
  <div class="collection">
    <div class="collection-headings">
      <h2>Performance for every budget</h2>
      <h1>PC Collections</h1>
    </div>
    <div class="collection-container">
      {
        pcs.map((pc) => (
          <Card
            image={pc.data.image}
            name={pc.data.name}
            specs={pc.data.specs}
          />
        ))
      }
      {
        pcs
          .reverse()
          .map((pc) => (
            <Card
              image={pc.data.image}
              name={pc.data.name}
              specs={pc.data.specs}
            />
          ))
      }
    </div>
    <div class="collection-btn">
      <button>View All</button>
    </div>
  </div>
</BaseLayout>

<style>
  .hero {
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    padding: 20rem 10rem;
    .hero-info {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      /* font-family: "Oxanium"; */
      position: relative;
      z-index: 10;
      .hero-text {
        font-size: 3rem;
        font-weight: 400;
        span {
          color: #bdf9a1;
          font-weight: 600;
        }
      }
      .hero-description {
        font-size: 1.2rem;
        font-weight: 400;
        color: #f7f7f7;
        z-index: 10;
        position: relative;
      }
    }
    .fade-l {
      position: absolute;
      left: 0;
      top: 0;
      min-width: 120px;
      width: 50%;
      height: 100%;
      z-index: 0;
      background-image: linear-gradient(90deg, #0f0914, transparent);
    }
    .fade-b {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 8rem;
      z-index: 0;
      background-image: linear-gradient(transparent, #0f0914);
    }
  }
  .about-section {
    height: calc(100vh - 4rem);
    padding: 0 7.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    .about-img {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: drop-shadow(0 0 2rem rgba(143, 104, 255, 0.4));
        transition: filter 0.6s;
        &:hover {
          filter: drop-shadow(0 0 2rem rgba(143, 104, 255, 0.8));
          transition: filter 0.6s;
        }
      }
    }
    .about-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #161026;
      border-radius: 15px;
      gap: 2rem;
      border: 1px solid #2a2241;
      padding-top: 3rem;
      h1 {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1;
      }
      p {
        padding: 0 5rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: #bdbdbd;
      }
      button {
        width: 100%;
        box-shadow: none;
        border: none;
        border-top: 1px solid #2a2241;
        height: 4rem;
        font-family: "Oxanium";
        font-weight: 300;
      }
    }
  }
  .collection {
    padding: 0 7.5rem;
    padding-bottom: 2rem;
    .collection-headings {
      font-family: "Oxanium";
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      h2 {
        font-size: 1rem;
        font-weight: 400;
        color: #bdbdbd;
      }
      h1 {
        font-size: 2rem;
        font-weight: 600;
        color: #f7f7f7;
      }
    }
    .collection-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 1rem;
      margin-top: 2rem;
    }
    .collection-btn {
      display: flex;
      justify-content: center;
      button {
        margin-top: 2rem;
      }
    }
  }
</style>
