---
const { image, name, specs, slug, core } = Astro.props;
---

<div class="card">
  <div class="card-image">
    <img src={image} alt={name} />
  </div>
  <div class="card-info">
    <h2 class="card-name">{name}</h2>
    <ul class="card-specs">
      {core.map((spec) => <li>{spec}</li>)}
    </ul>
  </div>
  <button class="card-btn">
    <a href={`/pcs/${slug}`}> View More</a>
  </button>
</div>

<style>
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 300px;
    /* aspect-ratio: 1 / 1.5; */
    height: 500px;
    background-color: #161026;
    border: 1px solid #2a2241;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-image {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2a2241;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 8px 8px 0px 0px;
    }
  }

  .card-info {
    text-align: left;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    height: 45%;
  }

  .card-name {
    font-size: 1.5rem;
  }

  .card-specs {
    list-style-type: none;
    padding: 0;
    color: #b7b7b7;
  }

  .card-specs li {
    margin: 0.5rem 0;
  }

  .card-btn {
    width: 100%;
    border: none;
    box-shadow: none;
    border-top: 1px solid #2a2241;
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oxanium";
    font-weight: 300;
    font-size: 14px;
    a {
      color: #bdf9a1;
      text-decoration: none;
    }
  }
</style>
