---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pcs = await getCollection("pcs");
  return pcs.map((pc) => ({
    params: { pc: pc.data.slug },
    props: { pc: pc.data },
  }));
}

const { pc } = Astro.props;
---

<BaseLayout pageTitle={pc.name}>
  <div class="pc">
    <div class="pc-hero">
      <img src={pc.image} alt={pc.name} class="pc-image" />
    </div>
    <div class="pc-specs">
      <h1 class="pc-name">{pc.name}</h1>
      <div class="specs">
        <h2>Specifications</h2>
        <ul>
          {pc.specs.map((spec) => <li>{spec}</li>)}
        </ul>
      </div>
      <div class="price">
        <h2>Price</h2>
        <p>₹500/day</p>
      </div>
      <button>
        Rent Now
      </button>
    </div>
  </div>
</BaseLayout>

<style>
  .pc {
    padding: 5rem 7.5rem;
    display: flex;
    gap: 2rem;
    .pc-hero {
      width: 50%;
      .pc-image {
        height: 100%;
        width: 100%;
      }
    }
    .pc-specs {
      width: 50%;
      background-color: #161026;
      border-radius: 15px;
      border: 1px solid #2a2241;
      padding: 1.5rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      h1 {
        width: 100%;
        font-size: 2.25rem;
        font-family: "Oxanium";
        font-weight: 600;
        color: #bdf9a1;
      }
      .specs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h2 {
          font-size: 1.5rem;
          font-family: "Oxanium";
          font-weight: 600;
          color: #f7f7f7;
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin-left: 1rem;
          li {
            font-size: 1.2rem;
            font-weight: 400;
            color: #bdbdbd;
            &:before {
              content: "•";
              color: #bdf9a1;
              display: inline-block;
              width: 1em;
              margin-left: -1em;
            }
          }
        }
      }
      .price {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        h2 {
          font-size: 1.5rem;
          font-family: "Oxanium";
          font-weight: 600;
          color: #f7f7f7;
        }
        p {
          font-size: 2rem;
          font-weight: 400;
          color: #bdbdbd;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .pc {
      padding: 4rem 1rem;
      flex-direction: column;
      .pc-hero {
        width: 100%;
        .pc-image {
          height: 100%;
          width: 100%;
        }
      }
      .pc-specs {
        width: 100%;
        padding: 1rem;
        h1 {
          font-size: 1.75rem;
        }
        .specs {
          h2 {
            font-size: 1.25rem;
          }
          ul {
            margin-left: 0.5rem;
            li {
              font-size: 1rem;
            }
          }
        }
        .price {
          h2 {
            font-size: 1.25rem;
          }
          p {
            font-size: 1.5rem;
          }
        }
    }
  }
</style>
